<!DOCTYPE html>
<html>
<head>
	<title>Properties</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<a href="/">Homepage</a> 
	
	{% if session.get('user_id') %}
	<a href="/users/" + session.get('user_id')>Profile</a>
    <a href="/logout">Log Out</a>
	{% else %}
	<a href="/login">Log In</a>
	{% endif %}
    {% if not session.get('user_id') %}
    <a href="/register">Register</a> 
    {% endif %}
	<hr>

	 {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  {% block content %} put your content here {% endblock %}


</body>
</html>