{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
  
<head>
 <style type="text/css">
    #autocomplete
    {
    width: 300px;
    color: Gray;
    }   
    .container-fluid {
    background: url(../static/architectural-design-architecture-beach-453201.jpg) no-repeat center center;
    /*background-color: red;*/
    background-size: cover;
    }
    a:link {
        background-color: #16364A;
        border: none;
        display: inline-block;
        width: 33%;

    }
    #search {
        background-color: #B5B58F;
        border: none;
    }
    #filter {
        color: White;
    }

    .search-container div {
        margin:0 auto;
    }

    .col-10 form {
        display: inline-block;
        width: 100%;
    }

    .btn-group-toggle {
        width; 100%
    }

    .row {
        justify-content: center;
    }

    .btn-primary {
        border-radius: 0;
    }

    .btn-secondary {
        border-radius: 0;
    }

</style>
</head>

<body>
    <div class="container-fluid">
        <br>
        <br>
        
            
            <form action='/search' >
                <!-- <div class="btn-group" role="group" aria-label="Basic example">
                  <a class="btn btn-secondary" href="?search_type=zipcode">Search By Zipcode</button>
                  <a class="btn btn-secondary" href="?search_type=address">Search By Address</button>
                  <a class="btn btn-secondary" "?search_type=city">Search By City</button>
                </div> -->
            <div class="search-container col-10 mx-auto">
                <div class="row" >
                    <div class="btn-group btn-group-toggle" role="group" id="searchtype">
                        <a class="btn btn-primary" href="?search_type=zipcode">Search By Zipcode</a><br>
                        <a class="btn btn-primary" href="?search_type=address">Search By Address</a><br>
                        <a class="btn btn-primary" href="?search_type=city">Search By City</a><br>
                        
                    </div>
                </div>
            <div class="row">

                {% for allowed_field in allowed_fields %}         
                    <!-- {{ allowed_field.capitalize() }}  -->
                
               
                <input id="autocomplete" type="text", name={{ allowed_field }} value= "Enter {{ allowed_field }}">
                {% endfor %}

                <input type="submit" id="search" name="Submit" class="btn btn-sm btn-primary" value="Search">
                <button type="reset" class="btn btn-secondary btn-sm" name='reset'> Reset
               
            
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row align-items-center">
            <div class="col-8 mx-auto">
            <div id="filter">
                {% if search_type != 'address' %}
                    Advanced Filters:<br>
                    Property Type: 
                    <select name="property_type">
                      <option value="">Not Selected</option>
                      <option value="SFR">Single Family</option>
                      <option value="apartment">Apartment</option>
                      <option value="TOWNHOUSE%2FROWHOUSE">Townhouse/Rowhouse</option>
                      <option value="CONDOMINIUM">Condominium</option>
                    </select><br>
                   
                    Minimum of bedrooms:
                    <select name="min_no_bed">
                      <option value="">Not Selected</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    Maximum of bedrooms: 
                    <select name="max_no_bed">
                      <option value="">Not Selected</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select><br>
                    Minimum of bathrooms: 
                    <select name="min_no_bath">
                      <option value="">Not Selected</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    Maximum of bathrooms: 
                    <select name="max_no_bath">
                      <option value="">Not Selected</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select><br>
                    Search transactions from: <input type="date", name="trans_date_from">
                    to: <input type="date", name="trans_date_to"><br>
                    Price range from: <input type="number", name="price_from">
                    to: <input type="number", name="price_to"><br>
                    
                {% endif %}
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 mx-auto">
            
        </div> 
        </div> 

            <br>
            <br>
            <br>
            <br>    
        </form>
       <!--  Auto Completion Implementation -->
            {% if search_type != 'zipcode' %}
            <script>
                  function initMap() {  
                    autocomplete = new google.maps.places.Autocomplete(
                            document.getElementById('autocomplete')), {
                          componentRestrictions: {country : "US"}
                        };
                    console.log(autocomplete);
                  }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap"
                    async defer></script>
            {% endif %}
  </body>
</html>



{% endblock %}
