{% extends 'base.html' %}
{% block content %}

<h1>Property Search</h1>

<script>
</script>

<form action='/search'>
    <a href="?search_type=zipcode">Search By Zip</a><br>
    <a href="?search_type=address">Search By Address</a><br>
    <a href="?search_type=city">Search By City</a><br>

    {% for allowed_field in allowed_fields %}
    {{ allowed_field.capitalize() }} <input type="text", name={{ allowed_field }}><br>
    {% endfor %}
    <br>
    <br>
    <div id="filter">
        {% if search_type != 'address' %}
            Filters:<br>
            Property Type: 
            <select name="property_type">
              <option value="">Not Selected</option>
              <option value="SFR">Single Family</option>
              <option value="apartment">Apartment</option>
            </select><br>
           
            Minimum of bedrooms: <input type="number", name="min_no_bed">
            Maximum of bedrooms: <input type="number", name="max_no_bed"><br>
           
            Minimum of bathrooms: <input type="number", name="min_no_bath">
            Maximum of bathrooms: <input type="number", name="max_no_bath"><br>
            Search transactions from: <input type="date", name="trans_date_from">
            to: <input type="date", name="trans_date_to"><br>
            Price range from: <input type="number", name="price_from">
            to: <input type="number", name="price_to"><br>
            
        {% endif %}
    </div>

    <input type="submit" name="Submit" value="Search">

    <br>
    <br>
    <br>
    <br>
    <button type="reset", name='reset'> Reset
    


</form>



{% endblock %}
