{% extends 'base.html' %}
{% block content %}
  <div class="col-4 mx-auto">
    <br>
    <br>
  <h2>Register</h2>
  <div class="form-group">
  <form action='/register' method='POST'>
    Your first name:<br>
    <input type="text" name="fname"><br>
    Your last name:<br>
    <input type="text" name="lname"><br>
    Your home zipcode:<br>
    <input type="text" name="zipcode"><br>
    Email:<br>
    <input type="email" name="user-email"><br>
    Password: <br>
    <input type="password" name="user-password"><br>
    <input type="submit" name="Submit">
  </form>
</div>
</div>
{% endblock %}
