{% extends 'base.html' %}
{% block content %}
<head>
    <!-- <h2>User Page</h2> -->
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }    
    </style>
</head>

<body>
<div class="row" >
    <div class="col-8 mx-auto">


<ul>
    Name: {{ user.fname }}<br>
    Zipcode: {{ user.zipcode }}<br>
    <br>
    Saved properties: <br>
    <br>
    
    {% for property in properties %}
        <li class="card" style="width: 26rem;">
            <div class="card-body">
                <p class="card-title">{{ property.address }}</p>
                <a href="{{ property.prop_url }}" class="card-link"> Link
                </a>
            </div>
        </li>   
            <br>
    {% endfor %}
    <br>
    Saved searches: <br>
    <br>
    {% for search in searches %}
        <li class="list-group-item">
            <a href="{{ search.search_url }}">
                {% if search.zipcode %}
                    Zipcode: {{ search.zipcode }}<br>
                {% endif %}
                {% if search.city %}
                    City: {{ search.city }}<br>
                {% endif %}
            </a>
        </li>   
            <br>
    {% endfor %}
    
</ul>
</div>
</div>

{% endblock %}
