{% extends 'base.html' %}
{% block content %}
<head>
    <!-- <h2>User Page</h2> -->
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        .search {
            column-count: 2;
        }    
    </style>
</head>

<body>
    <br>
    <br>
<div class="container-fluid">

<div class="row" >
    <div class="col-2 mx-auto">

        <div class="row-fluid">
        <div class="span2" >
            <img src= "https://www.gharpeshiksha.com/image/default-female.jpg" style="height:150px; width:150px;" class="img-circle">
        </div>
        
        <div class="span8">
            <h3>{{ user.fname }} {{ user.lname }}</h3>
            <h6>Email: {{ user.email }}</h6>
            <h6>Location: Palo Alto</h6>
        </div>
        
        <div class="span2">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    Action 
                    <span class="icon-cog icon-white"></span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                    <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                </ul>
            </div>
        </div>
</div>

    
<ul>
   <!--  Name: {{ user.fname }}<br>
    Zipcode: {{ user.zipcode }}<br> -->
    <br>
     <br>
    <br>
    </div>
    <div class="col-8" style="padding-right: 300px;">
    Saved properties:<br>
    <br>
    {% for property in properties %}
        <!-- <li class="card col" style="width: 23rem; align:center;"> -->
        <li class="list-group-item"> 

                <a href="{{ property.prop_url }}" class="ml-auto"> {{ property.address }}</a>
        </li> 
            <br>
    {% endfor %}
    <br>
    Saved searches: <br>
    <br>
    {% for search in searches %}

        <div class="card" style="width: 20rem">
            
            <div class="card-body">
            <a href="{{ search.search_url }}">
                {% if search.zipcode %}
                    Zipcode: {{ search.zipcode }}<br>
                {% endif %}
                {% if search.city %}
                    City: {{ search.city }}<br>
                {% endif %}
            </a>
        </div>
        </div>   
            <br>
    {% endfor %}
    </div>
</ul>
</div>
</div>
</div>
{% endblock %}
